.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
  margin-bottom: 0px;
}

.link {
  text-decoration: none;
}

.filterHeight {
  border-radius: 20px;
  margin-top: 15px;
  color: #2e6466;
  font-weight: bold;
  cursor: pointer;
}

.filterName {
  border-radius: 20px;
  margin: 2px;
  color: #2e6466;
  font-weight: bold;
  cursor: pointer;
}

.filterOrigin {
  border-radius: 20px;
  margin: 2px;
  color: #2e6466;
  font-weight: bold;
  cursor: pointer;
}

.filterTemperament {
  border-radius: 20px;
  margin: 2px;
  color: #2e6466;
  font-weight: bold;
  cursor: pointer;
}

.filterWeight {
  border-radius: 20px;
  margin: 2px;
  color: #2e6466;
  font-weight: bold;
  cursor: pointer;
}
