.container {
  background-image: url(https://img.freepik.com/vector-premium/herramientas-aseo-patron-costuras-cabeza-corgi-sobre-fondo-blanco_505573-121.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  padding: 22px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.subContainer {
  background-color: #ccccccbe;
  background-position: center;
}

.title {
  color: #2d6163;
}

.label {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  margin-left: 300px;
  color: #3b8183;
}

.input {
  border: 1px solid #ccc;
  border-radius: 3px;
  position: absolute;
  left: 500px;
  width: 230px;
  padding: 5px;
}

.select {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  width: 242px;
  position: absolute;
  left: 500px;
}

.formButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.formButton:hover {
  background-color: #0056b3;
}

.errors {
  font-size: 11px;
  margin-top: 5px;
  margin-left: 2px;
  padding: 0;
  max-height: 15px;
  overflow: hidden;
  color: rgb(150, 15, 15);
  position: fixed;
  left: 750px;
}

.span {
  font-size: 11px;
  padding: 0;
  color: rgb(150, 15, 15);
  position: absolute;
  left: 780px;
  margin-top: 5px;
}

.tempButton {
  margin: 2px;
  font-size: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  color: rgb(150, 15, 15);
  position: relative;
  left: 310px;
}
