.container {
  background-image: url(https://img.freepik.com/vector-premium/herramientas-aseo-patron-costuras-cabeza-corgi-sobre-fondo-blanco_505573-121.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  padding: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.subContainer {
  background-color: #ccccccbe;
  background-size: contain;
  margin: 0 auto; /* Centrar horizontalmente */
  width: 90%; /* Ajustar el ancho del contenedor */
}

.title {
  color: #2d6163;
}

.label {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  margin-left: 330px;
  color: #3b8183;
}

.input {
  border: 1px solid #ccc;
  border-radius: 3px;
  position: absolute;
  right: 450px;
  width: 230px;
  padding: 5px;
}

.select {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  width: 242px;
  position: absolute;
  right: 450px;
}

.formButton {
  background-color: #3094ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s;
}

.formButton:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.formButton:active {
  box-shadow: inset 35px 17px 48px 7px rgba(0, 0, 0, 0.8);
}

.errors {
  font-size: 11px;
  margin-top: 5px;
  margin-left: 15px;
  padding: 0;
  max-height: 15px;
  overflow: hidden;
  color: rgb(150, 15, 15);
  position: absolute;
  left: 820px;
}

.span {
  font-size: 13px;
  padding: 0;
  color: #2d6163;
  position: absolute;
  left: 885px;
  margin-top: 7px;
}

.tempButton {
  margin: 5px;
  color: rgb(150, 15, 15);
  background-color: rgba(163, 58, 58, 0.664);
  border-radius: 5px;
  position: relative;
  left: 320px;
  border: 0.5px solid black;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.alertMessage {
  background-color: rgba(139, 199, 43, 0.836);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
}

.alertMessageFailure {
  background-color: rgba(252, 82, 82, 0.836);
  font-family: "Montserrat";
  font-size: 16px;
}
