.container {
  display: flex;
  align-items: center;
  /*background-image: url(https://t3.ftcdn.net/jpg/03/12/91/10/360_F_312911040_8dZuCF1phqBH3RCc4Qn8AOoeHjgHUiJT.jpg);
  background-size: contain; */
  background-color: #e6a9b6b0;
  padding: 15px;
  margin-bottom: 0;
  top: 1px;
  left: 0;
  right: 0;
}

.link {
  margin: 0 100px;
}

.createButton {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  border: 0.5px solid black;
  background-color: rgb(241, 152, 167);
  box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s;
}

.createButton:hover {
  cursor: pointer;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
  background-color: rgb(247, 122, 143);
}

.homeButton {
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border: 0.5px solid black;
  background-color: rgb(241, 152, 167);
  box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s;
}

.homeButton:hover {
  cursor: pointer;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
  background-color: rgb(247, 122, 143);
}

@font-face {
  font-family: "Lilita One";
  src: url(../../assets/LilitaOne-Regular.ttf);
}

.title {
  height: 10px;
  margin: -25px 10px 5px;
  font-family: "Lilita One";
  font-size: 40px;
  color: rgb(255, 175, 77);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: 3px 3px 5px black;
}

.linkTitle {
  text-decoration: none;
  position: relative;
}

.linkTitle:hover::after {
  content: "Click to reset filters!";
  position: absolute;
  top: 15px;
  left: 40%;
  width: 110px;
  transform: translateX(40%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
